@page "/usr"
@rendermode InteractiveServer
@using BlazorApp.Domain.Responses
 <div class="d-flex justify-content-center">
    <h3>Users</h3>
</div>

@if (UserResponses == null)
{
    <div class="d-flex justify-content-center">
        <Spinner Class="me-3" Type="SpinnerType.Dots" Color="SpinnerColor.Success" Size="SpinnerSize.Large" />
    </div>
}
else
{
    <hr />
    <a class="btn btn-outline-primary" href="/usr/create">Create</a>
    <hr />
    <br />
    <Grid TItem="UserResponse"
          AllowPaging="true"
          AllowSorting="true"
          Class="table table-hover"
          DataProvider="EmployeesDataProvider"
          FiltersRowCssClass="bg-dark text-white bg-opacity-25 border-bottom-0"
          AllowFiltering="true"
          Responsive="true"
          HeaderRowCssClass="bg-dark text-white border-bottom-0"
          PageSize="10"
          PageSizeSelectorVisible="true"
          PageSizeSelectorItems="@(new int[] { 5,10,20 })"
          PaginationItemsTextFormat="{0} - {1} to {2}"
          ItemsPerPageText="Items Per Page Text">

        <GridColumns>
            <GridColumn TItem="UserResponse" HeaderText="Id" PropertyName="Id">
                @context.Id
            </GridColumn>
            <GridColumn TItem="UserResponse" HeaderText="FirstName" PropertyName="FirstName">
                @context.FirstName
            </GridColumn>
            <GridColumn TItem="UserResponse" HeaderText="LastName" PropertyName="LastName">
                @context.LastName
            </GridColumn>
            <GridColumn TItem="UserResponse" HeaderText="Email" PropertyName="Email">
                @context.Email
            </GridColumn>
            <GridColumn TItem="UserResponse" HeaderText="Password" PropertyName="Password">
                @context.Password
            </GridColumn>
            <GridColumn TItem="UserResponse" HeaderText="Actions" PropertyName="Actions">
                <a class="btn btn-secondary small" href="/usr/update/@context.Id">Update</a>
                <button class="btn btn-danger small" @onclick="() => {User = context; OnShowModalClick();}">Delete</button>
            </GridColumn>
        </GridColumns>

    </Grid>

    <Modal @ref="modal" Title="Modal title">
        <BodyTemplate>
            Are you Delete @User.FirstName @User.LastName?
        </BodyTemplate>
        <FooterTemplate>
            <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
            <Button Color="ButtonColor.Primary" @onclick="HandleDelete">Yes</Button>
        </FooterTemplate>
    </Modal>
   
}
